body {
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	font-size: 12px;
	color: black;
	overflow: auto;
}

@media(min-width: 768px) {
	body {
		font-size: 15px;
	}
}

:focus {
	outline: none;
}

a:hover {
	color: #e23709;
}

.red {
	color: #e23709;
}

.visually-hidden {
 	position: absolute;
  	clip: rect(0 0 0 0);
 	 width: 1px;
 	 height: 1px;
 	 margin: -1px;
}

.button {
	padding: 7px 15px;
	background: #689418;
	border: none;
	border-radius: 35px;
	color: white;
	text-transform: uppercase;
	font-size: 10px;
	cursor: pointer;
}

.button:hover {
	background: #4a7004;
}

.button:active {
	background: #395800;
	-webkit-box-shadow: inset 1px 0px 5px 1px rgba(0, 0, 0, 0.6);
	        box-shadow: inset 1px 0px 5px 1px rgba(0, 0, 0, 0.6);
}

@media(min-width: 768px) {
	.button {
		font-size: 14px;
		font-weight: 700;
		padding: 22px 25px;
	}
}





/* ШАПКА */





.main-header {
	position: relative;
	max-width: 1920px;
	margin: 0 auto;
}

.main-header__content-wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	max-width: 1170px;
	margin: 0 auto;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	padding: 0 7px;
	padding-top: 7px;
}

.version {
	display: block;
	text-decoration: none;
	color: black;
	width: 50%;
	margin: 0;
}

.version__span {
	display: block;
	width: 100px;
}

.delivery {
	width: 50%;
	text-align: right;
	text-decoration: none;
	color: black;
	margin-bottom: 10px;
}

.delivery__span {
	display: inline-block;
	width: 70px;
}

.social {
	width: 50%;
	padding-top: 6px;
}

.social__vk {
	display: inline-block;
	width: 29px;
	height: 17px;
}

.social__instagram {
	display: inline-block;
	width: 17px;
	height: 17px;
	margin-left: 15px;
}

.social__vk::before {
	display: block;
	content: "";
	width: 100%;
	height: 100%;
	background: url(../images/icons/vk.png) no-repeat;
	background-size: cover;
}

.social__instagram::before {
	display: block;
	content: "";
	width: 100%;
	height: 100%;
	background: url(../images/icons/instagram.png) no-repeat;
	background-size: cover;
}

@media(min-width: 768px) {
	.main-header__content-wrapper {
		padding: 0 15px;
		padding-top: 15px;
	}

	.version__span {
		width: auto;
	}

	.delivery__span {
		width: auto;
	}

	.delivery {
		margin-bottom: 35px;
	}

	.social {
		padding-top: 10px;
	}
}


/* ПОЛЬЗОВАТЕЛЬСКАЯ НАВИГАЦИЯ */





.user-navigation {
	width: 50%;
	text-align: right;
	margin-bottom: 15px;
}

.user-navigation__item {
	position: relative;
	display: inline-block;
	width: 28px;
	height: 28px;
	border-radius: 50%;
	background: #f4f7f8;
	margin-left: 5px;
}

.user-navigation__item:hover {
	background: #d6e0e8;
}

.user-navigation__login {
	margin-left: 0;
}

.user-navigation__login::before {
	position: absolute;
	top: 1px;
	left: 0px;
	content: "";
	width: 28px;
	height: 28px;
	background: url(../images/icons/user.png) no-repeat;
	background-size: cover;
}

.user-navigation__login--active {
	background: #e23709;
}

.user-navigation__login--active:hover {
	background: #e23709;
}

.user-navigation__login--active::before{
	position: absolute;
	top: -1px;
	left: 0px;
	content: "";
	width: 28px;
	height: 28px;
	background: url(../images/icons/user-activ.png) no-repeat;
	background-size: cover;
}

.user-navigation__likes:active, .user-navigation__basket:active {
	background: #e23709;
}

.user-navigation__likes::before {
	position: absolute;
	top: 6px;
	left: 5px;
	content: "";
	width: 18px;
	height: 18px;
	background: url(../images/icons/heart.png) no-repeat;
	background-size: cover;
}

.user-navigation__likes:active::before {
	position: absolute;
	top: 5.5px;
	left: 5px;
	content: "";
	width: 18px;
	height: 18px;
	background: url(../images/icons/heart-activ.png) no-repeat;
	background-size: cover;
}

.user-navigation__basket::before {
	position: absolute;
	top: 7px;
	left: 6px;
	content: "";
	width: 14px;
	height: 14px;
	background: url(../images/icons/basket.png) no-repeat;
	background-size: cover;
}

.user-navigation__basket:active::before {
	position: absolute;
	top: 7px;
	left: 6px;
	content: "";
	width: 14px;
	height: 13px;
	background: url(../images/icons/basket-activ.png) no-repeat;
	background-size: cover;
}

.user-navigation__value {
	position: absolute;
	top: 18px;
	right: 18px;
	width: 16px;
	height: 16px;
	background: #689418;
	font-size: 8px;
	font-weight: 700;
	text-align: center;
	padding-top: 4px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	color: black;
}

.user-navigation__value:hover {
	background: #689418;
}


.user-navigation__user-menu {
	display: block;
	background: #2f2f34;
	position: absolute;
	width: 100%;
	z-index: 1;
	left: 0;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
	height: 0;
	overflow: hidden;
	z-index: 2;
}

.user-navigation__enter {
	width: 320px;
	margin: 0 auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
	padding-top: 10px;
	padding-bottom: 15px;
	z-index: 0;
}

.user-navigation__reg, .user-navigation__forget {
	position: absolute;
	top: 0;
	left: 50%;
	-webkit-transform: translateX(-50%);
	    -ms-transform: translateX(-50%);
	        transform: translateX(-50%);
	width: 320px;
	opacity: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
	padding: 10px 0;
}

.user-menu__forget-title {
	display: block;
	margin: 25px 0;
	color: white;
}

.user-menu__social {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	width: 100%;
}

.user-menu__vk, .user-menu__fb {
	width: 30%;
}

.user-menu__vk {
	margin-right: 10px;
}

.user-menu__servis {
	position: relative;
	display: block;
	width: 80%;
	color: white;
	font-size: 10px;
	font-weight: 300;
	text-align: center;
	height: 1px;
	background: white;
	margin: 10px 0;
}

.user-menu__servis-or {
	position: absolute;
	top: -5px;
	left: 50%;
	-webkit-transform: translateX(-50%);
	    -ms-transform: translateX(-50%);
	        transform: translateX(-50%);
	display: inline-block;
	background: #2f2f34;
	padding: 0 5px;
}

.user-menu__user-form {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}

.input {
	padding: 0 10px;
	border: none;
	border-radius: 10px;
	height: 20px;
	margin-bottom: 10px;
}

.input:focus {
	-webkit-box-shadow: inset 1px 0px 5px 1px rgba(0, 0, 0, 0.6);
	        box-shadow: inset 1px 0px 5px 1px rgba(0, 0, 0, 0.6);
}

.input:focus::-webkit-input-placeholder {
	font-size: 0;
}

.input:focus:-ms-input-placeholder {
	font-size: 0;
}

.input:focus::-ms-input-placeholder {
	font-size: 0;
}

.input:focus::placeholder {
	font-size: 0;
}

.user-menu__link {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
	margin-top: 10px;
}

.user-menu__forget, .user-menu__reg {
	position: relative;
	text-decoration: none;
	color: white;
	background: transparent;
	border: none;
	cursor: pointer;
}

.user-menu__forget:hover, .user-menu__reg:hover {
	color: #e23709;
}

.user-menu__forget {
	margin-right: 20px;
}

.user-navigation__back {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 40px;
	height: 40px;
	border: none;
	background: transparent;
	cursor: pointer;
}

.user-navigation__back-paint {
	position: relative;
	display: block;
	width: 25px;
	height: 4px;
	border-radius: 2px;
	background: white;
	margin: 0 auto;
}

.user-navigation__back-paint::before {
	position: absolute;
	top: 2px;
	left: -2px;
	display: block;
	content: "";
	width: 10px;
	height: 4px;
	border-radius: 2px;
	-webkit-transform: rotate(45deg);
	    -ms-transform: rotate(45deg);
	        transform: rotate(45deg);
	background: white;
}

.user-navigation__back-paint::after {
	position: absolute;
	top: -2px;
	left: -2px;
	display: block;
	content: "";
	width: 10px;
	height: 4px;
	border-radius: 2px;
	-webkit-transform: rotate(-45deg);
	    -ms-transform: rotate(-45deg);
	        transform: rotate(-45deg);
	background: white;
}

.search {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	background: #2f2f34;
	z-index: 3;
	width: 100%;
	text-align: center;
	height: 0;
	overflow: hidden;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
}

.search-form__input {
	border: none;
	height: 20px;
	border-radius: 20px;
	padding-left: 10px;
}

.search-form__button {
	margin: 10px 0;
	margin-left: 15px;
	margin-right: 35px;
}





@media(min-width: 768px) {
	.user-navigation__item {
		width: 43px;
		height: 43px;
		margin-left: 25px;
	}

	.user-navigation__login::before {
		top: 2px;
		left: 2px;
		width: 40px;
		height: 40px;
	}

	.user-navigation__login--active::before{
		top: -1px;
		left: 2px;
		width: 40px;
		height: 40px;
	}

	.user-navigation__likes::before {
		top: 8px;
		left: 8px;
		width: 26px;
		height: 26px;
	}

	.user-navigation__likes:active::before {
		top: 8px;
		left: 8px;
		width: 26px;
		height: 26px;
	}

	.user-navigation__basket::before {
		top: 10px;
		left: 10px;
		width: 22px;
		height: 22px;
	}

	.user-navigation__basket:active::before {
		top: 10px;
		left: 10px;
		width: 22px;
		height: 21px;
	}

	.user-navigation__value {
		top: 24px;
		right: 28px;
		width: 26px;
		height: 26px;
		font-size: 12px;
		font-weight: 500;
		padding-top: 5px;
	}

	.user-navigation__user-menu .button, .search-form__button {
		padding: 5px 0;
	}

	.search-form__button {
		width: 100px;
	}

	.user-navigation__reg, .user-navigation__forget, .user-navigation__enter {
		width: 360px;
	}
}
































.main-navigation {
	position: relative;
}

.logo-header {
	display: block;
	width: 60px;
	position: absolute;
	top: -85px;
	left: 50%;
	-webkit-transform: translate(-50%, 0);
	    -ms-transform: translate(-50%, 0);
	        transform: translate(-50%, 0);
	z-index: 555;
}

.main-navigation__category-list {
	position: absolute;
	top: 0;
	list-style-type: none;
	background: #2f2f34;
	width: 100%;
	margin: 0;
	padding: 0;
	text-align: center;
	z-index: 3;
	height: 0;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
	overflow: auto;
}

.main-navigation__category-link {
	position: relative;
	display: inline-block;
	text-decoration: none;
	font-size: 20px;
	font-weight: 700;
	text-transform: uppercase;
	color: white;
	padding-top: 10px;
	padding-bottom: 10px;
}

.main-navigation__category-button {
	position: absolute;
	top: 0;
	left: 100%;
	display: block;
	width: 40px;
	height: 100%;
	background: transparent;
	cursor: pointer;
	border: none;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
}

.main-navigation__category-icon {
	position: relative;
	display: block;
	width: 0px;
	height: 0px;
	margin: 0 auto;
}

.main-navigation__category-icon::after {
	position: absolute;
	display: block;
	content: "";
	top: 0px;
	left: -16px;
	width: 20px;
	height: 3px;
	border-radius: 3px;
	background: white;
	-webkit-transform: rotate(45deg);
	    -ms-transform: rotate(45deg);
	        transform: rotate(45deg);
}

.main-navigation__category-icon::before {
	position: absolute;
	display: block;
	content: "";
	top: 0px;
	left: -4px;
	width: 20px;
	height:3px;
	border-radius: 3px;
	background: white;
	-webkit-transform: rotate(-45deg);
	    -ms-transform: rotate(-45deg);
	        transform: rotate(-45deg);
}

.red.main-navigation__category-icon::after, .red.main-navigation__category-icon::before {
	background: #e23709;
}

.main-navigation__category-item {
	position: relative;
}

.main-navigation__subcategory-list {
	display: block;
	padding: 0;
	list-style-type: none;
	background: white;
	overflow: hidden;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
	height: 0;
	z-index: 1;
}

.main-navigation__subcategory-link {
	display: block;
	text-decoration: none;
	color: black;
	text-align: center;
	font-size: 16px;
	padding: 6px 0;
}

.main-navigation__category-accent {
	display: none;
}



@media(min-width: 768px) {
	.logo-header {
		width: 100px;
		top: -110px;
	}
}


@media(min-width: 1024px) {
	.main-navigation__category-list {
		height: auto;
		position: static;
		overflow: visible;
		background: #2f2f34;
		z-index: 1;
	}

	.main-navigation__subcategory-item {
		width: 300px;
		margin-left: 70px;
	}

	.main-navigation__subcategory-link {
		display: block;
		text-align: center;
		font-size: 16px;
		font-weight: 500;
		opacity: 0;
		-webkit-transition: 1s;
		-o-transition: 1s;
		transition: 1s;
	}

	.main-navigation__subcategory-item:first-child {
		margin-top: 20px;
	}

	.main-navigation__subcategory-item:nth-last-child(1) {
		margin-bottom: 20px;
	}

	.main-navigation__category-item {
		position: static;
		display: inline-block;
		padding: 16px 36px;
		cursor: pointer;
		margin: 0 -4px;
		-webkit-box-sizing: border-box;
		        box-sizing: border-box;
	}

	.main-navigation__subcategory-list {
		position: absolute;
		top: 49px;
		left: 50%;
		width: 800px;
		-webkit-transform: translateX(-400px);
		    -ms-transform: translateX(-400px);
		        transform: translateX(-400px);
		text-align: left;
		-webkit-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.5);
		        box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.5);
	}

	.main-navigation__category-icon {
		top: -2px;
	}

	.main-navigation__category-button {
		-webkit-transition: 0.1s;
		-o-transition: 0.1s;
		transition: 0.1s;
	}

	.main-navigation__category-item:hover .main-navigation__subcategory-list {
		min-height: 364px;
		overflow: visible;
	}


	.main-navigation__category-item:hover .main-navigation__category-icon::after,
	.main-navigation__category-item:hover .main-navigation__category-icon::before {
		background: #e23709;
	}
	
	.main-navigation__category-item:hover .main-navigation__category-link {
		color: #e23709;
	}

	.main-navigation__category-item:hover .main-navigation__category-button {
		-webkit-transform: rotate(180deg);
		    -ms-transform: rotate(180deg);
		        transform: rotate(180deg);
	}

	.main-navigation__category-item:hover .main-navigation__subcategory-link {
		opacity: 1;
	}

	.main-navigation__subcategory-list:hover .main-navigation__subcategory-link {
		-webkit-transition: 0s;
		-o-transition: 0s;
		transition: 0s;
	}

	.main-navigation__subcategory-item:hover .main-navigation__subcategory-link {
		color: red;
	}






	.main-navigation__category-link {
		font-size: 13px;
		font-weight: 500;
		padding: 0;
	}

	.main-navigation__category-icon::after {
		top: 0px;
		left: -7px;
		width: 10px;
		height: 2px;
		border-radius: 3px;
	}

	.main-navigation__category-icon::before {
		top: 0px;
		left: -1px;
		width: 10px;
		height:2px;
		border-radius: 3px;
	}

	.main-navigation__category-accent {
		display: block;
		position: absolute;
		right: 0;
		top: 0;
		width: 364px;
		height: 364px;
		overflow: hidden;
	}

	.main-navigation__accent-wrapper {
		position: absolute;
		top: 20px;
		left: 50%;
		-webkit-transform: translateX(-50%);
		    -ms-transform: translateX(-50%);
		        transform: translateX(-50%);
		background-color: rgba(255, 255, 255, 0.5);
		border-radius: 20px;
		padding: 3px 10px;
		text-align: center;
		-webkit-box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
		        box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
	}

	.main-navigation__accent-signature {
		font-size: 18px;
		font-weight: 500;
	}
}



















.main-content {
	position: relative;
	max-width: 1920px;
	margin: 0 auto;
}








.buttons {
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
}

.buttons-wrapper {
	position: -webkit-sticky;
	position: sticky;
	top: 0px;
	display: block;
	z-index: 3;
}

.navigation-button {
	display: block;
	position: relative;
	padding: 0;
	width: 40px;
	height: 40px;
	cursor: pointer;
	border: none;
	background: transparent;
	margin: 0 auto;
}

.navigation-button__paint {
	position: relative;
	display: block;
	width: 25px;
	height: 4px;
	border-radius: 2px;
	background: white;
	margin: 0 auto;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
	-webkit-box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.35);
	        box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.35);
}

.navigation-button__paint::before {
	position: absolute;
	content: "";
	top: 7px;
	left: 0;
	width: 25px;
	height:4px;
	border-radius: 2px;
	background: white;
	border: none;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
	-webkit-box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.35);
	        box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.35);
}

.navigation-button__paint::after {
	position: absolute;
	content: "";
	top: -7px;
	left: 0;
	width: 25px;
	height: 4px;
	border-radius: 2px;
	background: white;
	border: none;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
	-webkit-box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.35);
	        box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.35);
}

.navigation-button--active .navigation-button__paint {
	-webkit-box-shadow: none;
	        box-shadow: none;
	height: 0;
}

.navigation-button--active .navigation-button__paint::after {
	-webkit-transform: rotate(45deg) translate(5px, 5px);
	    -ms-transform: rotate(45deg) translate(5px, 5px);
	        transform: rotate(45deg) translate(5px, 5px);
	-webkit-box-shadow: none;
	        box-shadow: none;
}

.navigation-button--active .navigation-button__paint::before {
	-webkit-transform: rotate(-45deg) translate(5px, -5px);
	    -ms-transform: rotate(-45deg) translate(5px, -5px);
	        transform: rotate(-45deg) translate(5px, -5px);
	-webkit-box-shadow: none;
	        box-shadow: none;
}

.search-button {
	display: block;
	position: relative;
	border: none;
	width: 40px;
	height: 40px;
	background: transparent;
	cursor: pointer;
}

.search-button::before {
	display: block;
	position: absolute;
	top: 5px;
	right: 4px;
	margin: 0 auto;
	content: "";
	width: 30px;
	height: 30px;
	background: url(../images/icons/search-20.png) no-repeat;
	background-size: cover;
}

.filter-button {
	display: none;
	position: relative;
	width: 40px;
	height: 40px;
	border: none;
	background: transparent;
	cursor: pointer;
}

.filter-button::after {
	display: block;
	position: absolute;
	top: 5px;
	right: 7px;
	content: "";
	width: 25px;
	height: 30px;
	margin: 0 auto;
	background: url(../images/icons/filter-6.png);
	background-size: cover;
}

.hidden {
	display: none;
}




@media(min-width: 1024px) {
	.navigation-button {
		position: absolute;
		display: none;
		top: 2px;
		right: 50%;
		-webkit-transform: translateX(1200%);
		    -ms-transform: translateX(1200%);
		        transform: translateX(1200%);
	}

	.navigation-button--active {
		top: -47px;
		-webkit-transform: translateX(450%);
		    -ms-transform: translateX(450%);
		        transform: translateX(450%);
	}

	.buttons {
		width: 100%;
		height: 0;
	}

	.buttons-wrapper {
		position: relative;
		width: 100%;
	}
	
	.search-button {
		position: absolute;
		top: -44px;
		right: 50%;
		-webkit-transform: translateX(1200%);
		    -ms-transform: translateX(1200%);
		        transform: translateX(1200%);
	}
}





.main-slider {
	position: relative;
}

.main-slider__image {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	-webkit-transition: 5s;
	-o-transition: 5s;
	transition: 5s;
}

.main-slider__image:nth-child(2) {
	position: relative;
	opacity: 1;
}











.category {
	text-align: center;
	padding-bottom: 5px;
	max-width: 1170px;
	margin: 0 auto;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	margin-top: 20px;
}

.category-title {
	margin: 0;
	padding-top: 10px;
}

.category-signature {
	margin: 0;
	padding-bottom: 10px;
}


.category-wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
}

.category-item {
	-ms-flex-preferred-size: 100%;
	    flex-basis: 100%;
	display: block;
	text-decoration: none;
	color: black;
	margin: 0 7px;
}

.category-item:last-child {
	display: none;
}

.category-item__title {
	display: block;
	margin: 0;
	padding-top: 10px;
	font-weight: 500;
}

.category-item__price {
	margin: 0;
}

.category-item__new-price{
	color: red;
}

.category-item__old-price {
	text-decoration: line-through;
}




@media(min-width: 768px) {
	.category-title {
		font-size: 40px;
		font-weight: 300;
		padding-top: 50px;
	}

	.category-signature {
		font-size: 18px;
		margin-bottom: 20px;
	}

	.category-item:last-child {
		display: block;
	}

	.category-item__title {
		font-size: 18px;
		font-weight: 400;
	}
}






.discount {
	position: relative;
	
	overflow: hidden;
	
}

.discount-wrapper {
	margin: 40px 0;
	position: relative;
	background: #f8fafb;
	position: relative;
}

.discount-slide-wrapper {
	position: relative;	
	text-align: center;
	max-width: 1170px;
	padding-left: 7px;
	padding-right: 7px;
	margin: 0 auto;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

.show-right {
	position: absolute;
	display: block;
	top: 0;
	width: 100%;
	left: 50%;
	-webkit-transform: translateX(-50%);
	    -ms-transform: translateX(-50%);
	        transform: translateX(-50%);
	-webkit-animation: show-slide-right 0.5s;
	        animation: show-slide-right 0.5s;
}

.show-left {
	position: absolute;
	display: block;
	top: 0;
	width: 100%;
	right: 50%;
	-webkit-transform: translateX(50%);
	    -ms-transform: translateX(50%);
	        transform: translateX(50%);
	-webkit-animation: show-slide-left 0.5s;
	        animation: show-slide-left 0.5s;
}

.hide {
	opacity: 0;
	-webkit-animation: hide-slide 0.5s;
	        animation: hide-slide 0.5s;
}

@-webkit-keyframes show-slide-right {
	0% {left: -50%;}
	100% {
		left: 50%;
		-webkit-transform: translateX(-50%);
		        transform: translateX(-50%);
	}
}

@keyframes show-slide-right {
	0% {left: -50%;}
	100% {
		left: 50%;
		-webkit-transform: translateX(-50%);
		        transform: translateX(-50%);
	}
}

@-webkit-keyframes show-slide-left {
	0% {right: -50%}
	100% {
		right: 50%;
		-webkit-transform: translateX(50%);
		        transform: translateX(50%);
	}
}

@keyframes show-slide-left {
	0% {right: -50%}
	100% {
		right: 50%;
		-webkit-transform: translateX(50%);
		        transform: translateX(50%);
	}
}

@-webkit-keyframes hide-slide {
	0% {opacity: 1;}
	100% {opacity: 0;}
}

@keyframes hide-slide {
	0% {opacity: 1;}
	100% {opacity: 0;}
}

.slider-button--left, .slider-button--right {
	display: block;
	position: absolute;
	top: 50%;
	border: none;
	width: 36px;
	height: 36px;
	border-radius: 50%;
	background: #e8ecef;
	cursor: pointer;
	z-index: 2;
}

.slider-button--left:hover, .slider-button--right:hover {
	background: #d6e0e8;
}

.slider-button--left {
	left: 10%;
	-webkit-transform: translate(-50%, -50%);
	    -ms-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
}

.slider-button--right {
	left: 90%;
	-webkit-transform: rotate(180deg) translate(50%, 50%);
	    -ms-transform: rotate(180deg) translate(50%, 50%);
	        transform: rotate(180deg) translate(50%, 50%);
}

.slider-button__paint--left, .slider-button__paint--right {
	display: block;
	position: absolute;
	top: 10px;
	left: 5px;
	width: 20px;
	height: 4px;
	border-radius: 2px;
	background: #758a95;
	-webkit-transform: rotate(-45deg);
	    -ms-transform: rotate(-45deg);
	        transform: rotate(-45deg);
}

.slider-button__paint--left::before, .slider-button__paint--right::before{
	display: block;
	position: absolute;
	top: 8.5px;
	left: -8.5px;
	content: "";
	width: 20px;
	height: 4px;
	border-radius: 2px;
	background: #758a95;
	-webkit-transform: rotate(90deg);
	    -ms-transform: rotate(90deg);
	        transform: rotate(90deg);
}

.activity {
	background: #d6e0e8;
	-webkit-box-shadow: inset 1px 0px 10px 1px rgba(0, 0, 0, 0.3);
	        box-shadow: inset 1px 0px 10px 1px rgba(0, 0, 0, 0.3);
}

.discount-card {
	position: absolute;
	top: 50%;
	left: 33%;
	-webkit-transform: translate(-50%, -50%);
	    -ms-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
	background: white;
	display: inline-block;
	width: 28%;
	padding: 20px 7px;
	border-radius: 3px;
	-webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.2);
	        box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.2);
	z-index: 2;
}

.discount-card__tittle {
	display: block;
	font-size: 15px;
	font-weight: 400;
	padding-bottom: 10px;
}

.discount-info {
	margin-left: 37%;
	display: inline-block;
	width: 32%;
	padding: 15px 0;
}

.discount-data {
	background: #a4bbc6;
	border-radius: 4px
}

.discount-data__item {
	display: inline-block;
	width: 22%;
	height: 24px;
	font-size:8px;
	color: white;
	margin: 0;
	border-right: 1px solid #f8fafb;
	text-align: center;
	padding-top: 3px;
	padding-right: 1px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

.discount-data__sec {
	border: none;
}

.discount-product-name {
	font-weight: 400;
	margin: 0;
	padding-top: 10px;
}

.discount-price {
	margin: 0;
	padding-top: 6px;
}

.discount-new-price {
	color: red;
}

.discount-old-price {
	text-decoration: line-through;
}

.discount-button {
	margin-top: 16px;
}


@media(min-width: 470px) {
	.discount-info {
		padding: 30px 0;
	}
}

@media(min-width: 580px) {
	.discount-info {
		padding: 40px 0;
	}
}

@media(min-width: 670px) {
	.discount-info {
		padding: 60px 0;
	}
}



@media(min-width: 768px) {
	.discount-card {
		padding: 20px 20px;
		left: 33%;
	}

	.discount-card__tittle {
		font-size: 30px;
	}

	.discount-info {
		padding: 40px 0;
	}

	.slider-button--left, .slider-button--right {
		width: 60px;
		height: 60px;
	}

	.discount-data__item {
		display: inline-block;
		width: 22%;
		height: 60px;
		font-size: 18px;
		padding-top: 10px;
	}

	.discount-product-name {
		font-size: 30px;
	}

	.discount-price {
		font-size: 18px;
	}

	.discount-button {
		font-size: 14px;
		font-weight: 700;
	}

	.slider-button__paint--left, .slider-button__paint--right {
		top: 17px;
		left: 10px;
		width: 30px;
		height: 6px;
		border-radius:3px;
	}

	.slider-button__paint--left::before, .slider-button__paint--right::before{
		top: 12px;
		left: -12px;
		width: 30px;
		height: 6px;
		border-radius: 3px;
	}
}

@media(min-width: 900px) {
	.discount-info {
		padding: 60px 0;
	}
}

@media(min-width: 1000px) {
	.discount-info {
		padding: 70px 0;
	}
}

@media(min-width: 1120px) {
	.discount-info {
		padding: 80px 0;
	}

	.slider-button--left, .slider-button--right {
		width: 90px;
		height: 90px;
	}

	.slider-button__paint--left, .slider-button__paint--right {
		top: 35px;
		left: 25px;
		width: 30px;
		height: 6px;
		border-radius:3px;
	}
}

@media(min-width: 1250px) {
	.discount-card {
		padding: 50px 50px;
		left: 30%;
	}

	.discount-info {
		padding: 100px 0;
	}

	.discount-card__tittle {
		font-size: 40px;
	}

	.discount-button {
		margin-top:60px;
	}

	.discount-product-name {
		padding-top: 30px;
	}
}

@media(min-width: 1650px) {
	.discount-card {
		left: 26%;
	}
}




.set {
	padding-top: 10px;
	text-align: center;
	overflow: hidden;
}

.set-declaration {
	margin: 0;
	font-size: 18px;
}

.set-advert {
	margin: 0;
	margin-top: 7px;
}

.set-advert__span {
	display: block;
	margin: 0 auto;
	width: 240px;
}

.set-button {
	display: block;
	margin: 0 auto;
	margin-top: 7px;
}

.set-choise {
	display: block;
	margin-top: 7px;
}

.set-arrow {
	margin-top: 7px;
}

.set-wrapper {
	position: relative;
}

.set-product {
	position: absolute;
}

.set-product__image-wrapper {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background: white;
	overflow: hidden;
	-webkit-box-shadow: 0px 13px 90px 0px rgba(0, 0, 0, 0.2);
	        box-shadow: 0px 13px 90px 0px rgba(0, 0, 0, 0.2);
}

.set-product__button {
	position: absolute;
	top: 26px;
	left: 6.5px;
	width: 28px;
	height: 28px;
	background: #ee4e23;
	border: none;
	border-radius: 50%;
	cursor: pointer;
	opacity: 0.99;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
	z-index: 1;
}

.set-product__paint {
	display: block;
	position: absolute;
	top: 14px;
	left: 4px;
	width: 12px;
	height: 2px;
	border-radius: 1px;
	background: white;
	-webkit-transform: rotate(45deg);
	    -ms-transform: rotate(45deg);
	        transform: rotate(45deg);
}

.set-product__paint::before {
	display: block;
	position: absolute;
	content: "";
	top: -5.5px;
	left: 5.5px;
	width: 12px;
	height: 2px;
	border-radius: 1px;
	background: white;
	-webkit-transform: rotate(90deg);
	    -ms-transform: rotate(90deg);
	        transform: rotate(90deg);
}

.product-cart {
	position: absolute;
	top: -130px;
	left: -32px;
	width: 100px;
	height: 170px;
	background: white;
	-webkit-box-shadow: 0px 13px 73px 0px rgba(0, 0, 0, 0.16);
	        box-shadow: 0px 13px 73px 0px rgba(0, 0, 0, 0.16);
	border-radius: 3px;
}

.product-cart__heart {
	position: absolute;
	top: 3px;
	right: 3px;
	width: 20px;
	height: 20px;
	border: none;
	cursor: pointer;
	padding: 0;
	border-radius: 50%;
	background: transparent;
}

.product-cart__heart::before {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	content: "";
	background: url(../images/icons/heart.png);
	background-size: cover;
}

.product-cart__img-wrapper {
	display: inline-block;
	width: 90%;
	border-radius: 50%;
	overflow: hidden;
	margin-top: 10px;
}

.product-cart__img {
	display: block;
}

.product-cart__name {
	margin: 0;
	font-size: 14px;
}

.product-cart__price {
	margin: 0;
	font-size: 10px;
}

.product-cart__button {
	margin-top: 8px;
	font-size: 8px;
}

.set-product--one {
	top: 12px;
	left: 50px;
}

.set-product--two {
	top: 32px;
	left: 230px;
}

.set-product--three {
	top: 46px;
	left: 120px;
}

.set-button-wraper {
	position: relative;
}

.rotate {
	-webkit-transform: rotate(180deg);
	    -ms-transform: rotate(180deg);
	        transform: rotate(180deg);
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
}










@media(min-width: 768px) {
	.set-declaration {
		font-size: 40px;
	}

	.set-advert {
		font-size: 18px;
	}

	.set-advert__span {
		width: 540px;
	}

	.set-button {
		margin-top: 45px;
	}

	.set-choise {
		margin-top: 45px;
		font-size: 18px;
	}

	.set-arrow {
		width: 20px;
	}

	.set-product__image-wrapper {
		width: 100px;
		height: 100px;
	}

	.set-product__button {
		width: 50px;
		height: 50px;
		top: 70px;
		left: 25px;
	}

	.set-product__paint {
		top: 24px;
		left: 9px;
		width: 20px;
		height: 4px;
		border-radius: 2px;
	}

	.set-product__paint::before {
		top: -8px;
		left: 8px;
		width: 20px;
		height: 4px;
		border-radius: 2px;
	}

	.product-cart {
		width: 150px;
		height: 245px;
		top: -150px;
		left: -25px;
	}

	.product-cart__heart {
		width: 30px;
		height: 30px;
	}

	.product-cart__name {
		font-size: 18px;
	}

	.product-cart__price {
		font-size: 14px;
	}

	.product-cart__button {
		padding: 10px 15px;
		font-size: 12px;
	}
}


@media(min-width: 1024px) {
	.set-product__image-wrapper {
		width: 153px;
		height: 153px;
	}

	.set-product__button {
		width: 58px;
		height: 58px;
		top: 120px;
		left: 47px;
	}

	.set-product__paint {
		top: 28px;
		left: 7px;
		width: 26px;
		height: 4px;
		border-radius: 2px;
	}

	.set-product__paint::before {
		top: -12px;
		left: 12px;
		width: 26px;
		height: 4px;
		border-radius: 2px;
	}

	.product-cart {
		width: 260px;
		height: 420px;
		top: -270px;
		left: -54px;
	}

	.product-cart__img-wrapper {
		width: 189px;
		height: 189px;
		margin-top: 44px;
	}

	.product-cart__heart {
		top: 20px;
		right: 20px;
	}

	.product-cart__name {
		font-size: 20px;
	}

	.product-cart__price {
		font-size: 16px;
	}

	.product-cart__button {
		margin-top: 26px;
		font-size: 14px;
		font-weight: 700;
		padding: 22px 25px;
	}
}




.category-second {
	padding-bottom: 0;
}




.quote {
	text-align: center;
	margin-top: 20px;
}

.quote-title {
	margin: 0;
	padding-top: 10px;
}

.quote-subscribe {
	margin: 0;
	padding-top: 0px;
	padding-bottom: 10px;
}

.quote-wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	max-width: 1170px;
	margin: 0 auto;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
}

.quote-cart {
	-ms-flex-preferred-size: 100%;
	    flex-basis: 100%;
	height: 100%;
	margin: 0 7px;
	-webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
	        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.quote-cart:hover {
	-webkit-box-shadow: 0px 0px 60px 0px rgba(0, 0, 0, 0.2);
	        box-shadow: 0px 0px 60px 0px rgba(0, 0, 0, 0.2);
	cursor: pointer;
}

.quote-cart:hover .quote-cart__name {
	color: #689418;
}


.quote-cart:first-child, .quote-cart:last-child {
	display: none;
}

.quote-cart__image-wrapper {
	width: 30%;
	border-radius: 50%;
	margin: 10px auto;
	overflow: hidden;
}

.quote-cart__image {
	display: block;
}

.quote-cart__name {
	display: block;
	padding-bottom: 6px;
}

.qoute-cart__text {
	display: block;
	font-size: 8px;
	padding: 0 7px;
}

.quote-cart__icon {
	display: block;
	position: relative;
	width: 25px;
	height: 19px;
	margin: 10px auto;
}

.quote-cart__icon::before {
	display: block;
	position: absolute;
	content: "";
	width: 100%;
	height: 100%;
	background: url(../images/icons/quote.png);
	background-size: cover;
}




@media(min-width: 768px) {
	.quote {
		margin-top: 40px;
	}

	.quote-title {
		font-size: 40px;
		font-weight: 300;
	}

	.quote-subscribe {
		padding-bottom: 20px;
	}

	.quote-cart__name {
		font-size: 18px;
		font-weight: 500;
	}

	.qoute-cart__text {
		font-size: 15px;
		padding: 0 24px;
	}

	.quote-cart {
		margin: 0 15px;
		-webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
		        box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
	}

	.quote-cart__image-wrapper {
		width: 112px;
		height: 112px;
	}
}

@media(min-width: 1024px) {
	.qoute-cart__text {
		padding: 0 24px;
	}

	.quote-cart:first-child, .quote-cart:last-child {
		display: block;
	}
}




.blog{
	text-align: center;
	margin: 20px 0;
}

.blog-title {
	margin: 0;
	padding-top: 10px;
}

.blog-subscribe {
	margin: 0;
	padding-bottom: 10px;
}

.blog-wrapper {
	max-width: 1170px;
	margin: 0 auto;
	padding: 0 7px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
}

.blog-cart {
	margin-right: 1px;
	text-decoration: none;
	color: black;
}

.blog-cart:first-child, .blog-cart:last-child {
	display: none;
}

.blog-cart:last-child {
	margin-right: 0;
}

.blog-cart__title {
	margin: 0;
	padding-bottom: 5px;
	font-size: 12px;
}

.blog-cart__data {
	margin: 0;
	font-size: 10px;
}

.blog-link {
	display: block;
	text-decoration: none;
	color: black;
	padding-top: 10px;
}



@media(min-width: 768px) {
	.blog {
	    margin-bottom: 50px;
	}

	.blog-title {
		padding-top: 40px;
		font-size: 40px;
		font-weight: 300;
	}

	.blog-subscribe {
		font-size: 18px;
		padding-bottom: 40px;
	}

	.blog-cart__title {
		font-size: 18px;
		font-weight: 500;
	}

	.blog-cart__data {
		font-size: 15px;
	}

	.blog-link {
		font-size: 18px;
		font-weight: 500;
	}
}

@media(min-width: 1024px) {
	.blog-cart:first-child, .blog-cart:last-child {
		display: block;
	}
}






.main-footer {
    background: #e8ecef;
}

.footer-wrapper {
	max-width: 1170px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-ms-flex-line-pack: justify;
	    align-content: space-between;
	position: relative;
	margin: 0 auto;
	padding: 0 7px;
	height: 130px;
}

.logo-footer {
	display: block;
	width: 40px;
}

.pay {
	display: block;
	margin: 10px 0;
}

.pay__item {
	display: inline-block;
	width: 26px;
	height: 19px;
}

.pay--visa::before {
	display: block;
	width: 100%;
	height: 100%;
	content: "";
	background: url(../images/icons/visa.png);
	background-size: cover;
}

.pay--mastercard::before {
	display: block;
	width: 100%;
	height: 100%;
	content: "";
	background: url(../images/icons/mastercard.png);
	background-size: cover;
}

.pay--paypal::before {
	display: block;
	width: 100%;
	height: 100%;
	content: "";
	background: url(../images/icons/paypal.png);
	background-size: cover;
}

.footer-wrapper > a {
	text-decoration: none;
	color: black;
	font-size: 10px;
	margin: 2px 0;
}

a:hover {
	color: #e23709;
}

.copy {
	display: block;
	text-align: center;
	padding-bottom: 15px;
}

.social-footer {
	margin-bottom: 10px;
}

.red {
	color: #e23709;
}

.adout, .policy, .backup, .map, .contact, .webmaster {
	text-align: right;
}


@media(min-width: 768px) {
	.footer-wrapper {
		height: 220px;
	}

	.logo-footer {
		width: 80px;
	}

	.pay {
		margin: 20px 0;
	}

	.pay__item {
		display: inline-block;
		width: 46px;
		height: 36px;
	}

	.footer-wrapper > a {
		font-size: 15px;
		margin: 6px 0;
	}
}







.hidden {
	display: none;
}

.show-right {
	position: absolute;
	display: block;
	top: 0;
	width: 100%;
	left: 50%;
	-webkit-transform: translateX(-50%);
	    -ms-transform: translateX(-50%);
	        transform: translateX(-50%);
	-webkit-animation: show-slide-right 0.5s;
	        animation: show-slide-right 0.5s;
	z-index: 1;
}

.show-left {
	position: absolute;
	display: block;
	top: 0;
	width: 100%;
	right: 50%;
	-webkit-transform: translateX(50%);
	    -ms-transform: translateX(50%);
	        transform: translateX(50%);
	-webkit-animation: show-slide-left 0.5s;
	        animation: show-slide-left 0.5s;
	z-index: 1
}

.hide {
	opacity: 0;
	-webkit-animation: hide-slide 0.5s;
	        animation: hide-slide 0.5s;
}

.hide-set {
	position: relative;
	opacity: 1;
}

.hide-set .set-product {
	display: none;
}

@keyframes show-slide-right {
	0% {left: -50%;}
	100% {
		left: 50%;
		-webkit-transform: translateX(-50%);
		        transform: translateX(-50%);
	}
}

@keyframes show-slide-left {
	0% {right: -50%}
	100% {
		right: 50%;
		-webkit-transform: translateX(50%);
		        transform: translateX(50%);
	}
}

@keyframes hide-slide {
	0% {opacity: 1;}
	100% {opacity: 0;}
}









.list-content {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	max-width: 1170px;
	padding: 0 7px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

.left-side {
}

.right-side {
	width: 100%;
}

.list-filtres {
	position: absolute;
}

.list-buttons {
	position: relative;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	width: 100%;
	padding: 0 10px;
	padding-top: 8px;
}


.list-buttons__grid, .list-buttons__list {
	width: 23px;
	height: 23px;
	border: none;
	cursor: pointer;
	margin-right: 10px;
	background: transparent;
}

.list-buttons__grid-paint {
	position: relative;
	-webkit-transform: translateX(4px);
	    -ms-transform: translateX(4px);
	        transform: translateX(4px);
	display: block;
	background: #c8ced8;
	width: 5px;
	height: 5px;
	margin-bottom: 3px;
}

.list-buttons__grid-paint::after, .list-buttons__grid-paint::before {
	display: block;
	position: absolute;
	top: 0px;
	left: 8px;
	content: "";
	width: 5px;
	height: 5px;
	background: #c8ced8;
}

.list-buttons__grid-paint::after {
	top: 0;
	left: -8px;
}

.list-buttons__list-paint {
	position: relative;
	-webkit-transform: translateX(3px);
	    -ms-transform: translateX(3px);
	        transform: translateX(3px);
	display: block;
	background: #c8ced8;
	width: 5px;
	height: 5px;
	margin-bottom: 3px;
}

.list-buttons__list-paint::after, .list-buttons__list-paint::before {
	display: block;
	position: absolute;
	top: 0;
	left: -8px;
	content: "";
	width: 5px;
	height: 5px;
	background: #c8ced8;
}

.list-buttons__list-paint::after {
	top: 0;
	width: 13px;
	left: 0px;
}

.list-buttons--active .list-buttons__grid-paint,
.list-buttons--active .list-buttons__grid-paint.list-buttons__grid-paint::after,
.list-buttons--active .list-buttons__grid-paint.list-buttons__grid-paint::before{
	background: #ee4e23;
}

.list-buttons--active .list-buttons__list-paint,
.list-buttons--active .list-buttons__list-paint.list-buttons__list-paint::after,
.list-buttons--active .list-buttons__list-paint.list-buttons__list-paint::before{
	background: #ee4e23;
}

@media(min-width: 1024px) {
	.right-side {
		padding-left: 15px;
	}

	.list-buttons {
		padding: 0 15px;
		padding-top: 20px;
	}
}
















.advertising {
	display: none;
}

.grid {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	width: 100%;
}

.product-item {
	width: 50%;
	padding: 10px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	cursor: pointer;
}

.product-item:hover {
	-webkit-box-shadow: 0px 13px 73px 0px rgba(0, 0, 0, 0.16);
	        box-shadow: 0px 13px 73px 0px rgba(0, 0, 0, 0.16);
}

.product-item__foto-wrapper {
	position: relative;
	overflow: hidden;
	margin: 0 auto;
}

.product-item__foto {
	display: block;
}

.product-item__discount {
	display: inline-block;
	position: absolute;
	width: 30%;
	height: 10%;
	top: 25%;
	left: 0;
}

.product-item__discount::after {
	display: block;
	position: absolute;
	content: "";
	width: 80%;
	height: 80%;
	left: -20%;
	top: 0;
	background: url(../images/icons/sale.png);
	background-repeat: no-repeat;
	background-size: cover;
}

.product-item__like {
	display: block;
	position: absolute;
	top: 3px;
	left: 3px;
	width: 15%;
	height: 15%;
	border-radius: 50%;
	background: white;
}

.product-item__like::after {
	display: block;
	position: absolute;
	content: "";
	width: 80%;
	height: 80%;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	    -ms-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
	background: url(../images/icons/heart.png);
	background-repeat: no-repeat;
	background-size: cover;
}

.product-item__name {
	text-align: center;
	font-size: 18px;
	font-weight: 500;
	margin: 0;
	margin-top: 5px;
}

.product-item__price {
	text-align: center;
	margin: 0;
}

.product-item__price-new {
	color: #e23709;
	font-weight: 500;
}

.product-item__price-old {
	text-decoration: line-through;
	font-weight: 500;
}

.product-item__button {
	display: block;
	margin: 0 auto;
	margin-top: 5px;
}

.product-item__rating {
	display: none;
}

.product-item__discription {
	display: none;
}


@media(min-width: 768px) {
	.list-content {
		padding: 0 15px;
	}

	.product-item {
		width: 33.33%;
	}

	.product-item__button {
		padding-top: 10px;
		padding-bottom: 10px;
	}
}

@media(min-width: 1024px) {
	.left-side {
		width: 30%;
		background: yellow;
	}

	.product-item {
		padding: 20px 15px;
	}
}

@media (hover) , (min-width:0\0) , (min--moz-device-pixel-ratio:0) {
	.product-item__button {
		opacity: 0;
	}

	.product-item:hover .product-item__button {
		opacity: 1;
	}
}




.product-item--list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	width: 100%;
	padding: 5px 0;
}

.product-item--list:hover {
	-webkit-box-shadow: none;
	        box-shadow: none;
}

.product-item--list .product-item__foto-wrapper {
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	width: 33%;
	margin: 0;
}

.product-item--list .product-item__name {
	font-size: 10px;
	text-align: left;
	margin: 0;
}

.product-item--list .product-item__price {
	font-size: 10px;
	text-align: left;
	margin-bottom: 3px;
}

.product-item--list .product-item__rating {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-bottom: 3px;
}

.product-item__rating-item {
	display: block;
	width: 7px;
	height: 7px;
	background: red;
	margin-right: 1px;
	background: url(../images/icons/rating.png);
	background-size: cover;
}

.product-item__rating-item--active {
	background: url(../images/icons/rating-activ.png);
	background-size: cover;
}

.product-item--list .product-item__right-side {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	padding-left: 10px;
	width: 70%;
}

.product-item--list .product-item__discription {
	display: block;
	font-size: 8px;
	margin: 0;
	margin-bottom: 3px;
}

.product-item--list .product-item__button {
	width: 45%;
	font-size: 8px;
	margin: 0;
	padding: 4px 10px;
	opacity: 1;
}

@media(min-width: 380px) {
	.product-item--list .product-item__name {
		font-size: 12px;
		font-weight: 300;
		margin-bottom: 8px;
	}

	.product-item--list .product-item__price {
		margin-bottom: 8px;
	}

	.product-item--list .product-item__rating {
		margin-bottom: 8px;
	}

	.product-item--list .product-item__discription {
		margin-bottom: 8px;
	}

	.product-item--list .product-item__button {
		width: 30%;
	}
}

@media(min-width: 480px) {
	.product-item--list .product-item__name {
		font-size: 14px;
		margin-bottom: 10px;
	}

	.product-item--list .product-item__price {
		margin-bottom: 10px;
	}

	.product-item--list .product-item__rating {
		margin-bottom: 10px;
	}

	.product-item__rating-item {
		width: 10px;
		height: 10px;
	}

	.product-item--list .product-item__discription {
		font-size: 10px;
		margin-bottom: 10px;
	}

	.product-item--list .product-item__button {
		width: 25%;
		padding: 8px 15px;
	}
}

@media(min-width: 580px) {
	.product-item--list .product-item__right-side {
		padding-left: 20px;
	}
	
	.product-item--list .product-item__name {
		font-size: 18px;
		margin-bottom: 12px;
	}

	.product-item--list .product-item__price {
		margin-bottom: 12px;
	}

	.product-item--list .product-item__rating {
		margin-bottom: 12px;
	}

	.product-item--list .product-item__discription {
		font-size: 10px;
		margin-bottom: 12px;
	}

	.product-item--list .product-item__button {
		width: 25%;
		padding: 8px 15px;
	}
}

@media(min-width: 680px) {
	.product-item--list .product-item__name {
		font-size: 22px;
		margin-bottom: 16px;
	}

	.product-item--list .product-item__price {
		margin-bottom: 16px;
	}

	.product-item--list .product-item__rating {
		margin-bottom: 16px;
	}

	.product-item--list .product-item__discription {
		font-size: 10px;
		margin-bottom: 16px;
	}

	.product-item--list .product-item__button {
		width: 25%;
		padding: 8px 15px;
	}
}

@media(min-width: 768px) {
	.product-item--list {
		padding: 10px;
	}

	.product-item--list .product-item__right-side {
		padding-left: 30px;
	}

	.product-item--list .product-item__name {
		font-size: 25px;
		font-weight: 300;
		margin-bottom: 18px;
	}

	.product-item--list .product-item__price {
		font-size: 18px;
		font-weight: 300;
		margin-bottom: 20px;
	}

	.product-item--list .product-item__rating {
		margin-bottom: 20px;
	}

	.product-item--list .product-item__rating .product-item__rating-item {
		width: 12px;
		height: 12px;
	}

	.product-item--list .product-item__discription {
		font-size: 13px;
		font-weight: 300;
		margin-bottom: 20px;
	}

	.product-item--list .product-item__button {
		font-size: 13px;
		font-weight: 700;
		padding: 15px;
		opacity: 1;
	}
}



@media(min-width: 1024px) {
	.product-item--list {
		padding: 20px 15px;
	}
}







/* АДМИНКА */

.admin-content {
	padding-top: 2px;
}

.admin-section {
	display: block;
	width: 76%;
	margin: 0 auto;
	margin-bottom: 5px;
	border: 1px solid #dfe1e5;
	border-radius: 18px;
	background: white;
	overflow: hidden;
}

.admin-section--active, .admin-section:hover {
	-webkit-box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
	        box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
	border-color: white;
}

.admin-button {
	display: block;
	width: 100%;
	padding: 12px;
	border: none;
	background: white;
	font-size: 10px;
	font-weight: 500;
	text-transform: uppercase;
	cursor: pointer;
	margin-bottom: 5px;
}

.admin-section--active .admin-button {
	background: #f1f3f4;
}

@media (min-width: 768px) {
	.admin-content {
		padding-top: 10px;
	}
	.admin-section {
		border-radius: 24px;
		width: 45%;
		margin-bottom: 10px;
	}

	.admin-button {
		font-size: 12px;
		font-weight: 600;
		padding: 16px;
		margin-bottom: 10px;
	}
}




.menu-redact__list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.redact-item {
	display: block;
	margin: 0 auto;
	margin-bottom: 5px;
	width: 76%;
	border: 1px solid #dfe1e5;
	border-radius: 16px;
	overflow: hidden;
}

.redact-item:hover {
	-webkit-box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
	        box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
	border-color: white;
}

.admin-subbutton {
	display: block;
	width: 100%;
	font-size: 10px;
	text-transform: uppercase;
	border: none;
	background: white;
	padding: 5px 0;
	cursor: pointer;
	margin-bottom: 10px;
}

.admin-section--active > .menu-reduct__title {
	background: #f1f3f4;
}

@media (min-width: 768px) {
	.redact-item  {
		margin-bottom: 10px;
		width: 35%;
	}

	.admin-subbutton {
		padding: 10px 0;
		font-size: 12px;
	}

	.menu-redact__item:nth-child(3) {
		margin-bottom: 25px;
	}
}

.admin-input {
	margin: 0;
	display: block;
	height: 26px;
	border: none;
	border-radius: 20px;
	padding-left: 10px;
	font-size: 16px;
	background: #f1f3f4;
	margin: 0 auto;
}

.admin-input:hover,
.add-category__spot-left:hover,
.add-category__spot-right:hover {
	background: #e8eaed;
}

.admin-input:focus {
	background: white;
	-webkit-box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
	        box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
}

.admin-input:focus::-webkit-input-placeholder {
	font-size: 0;	
}

.admin-input:focus:-ms-input-placeholder {
	font-size: 0;	
}

.admin-input:focus::-ms-input-placeholder {
	font-size: 0;	
}

.admin-input:focus::placeholder {
	font-size: 0;	
}

.add-category__subscribe {
	margin-bottom: 10px;
	width: 140px;
}

.add-category__name-wrapper {
	margin-bottom: 10px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 150px;
}

.add-category__name {
	display: block;
	width: 80px;
	margin-right: 4px;
}

.add-category__spot {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 56px;
	height: 28px;
	background: #f1f3f4;
	border-radius: 15px;
	overflow: hidden;
}

.add-category__spot-left, .add-category__spot-right{
	position: relative;
	width: 35%;
	height: 100%;
	cursor: pointer;
}

.add-category__spot-left {
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
}

.add-category__spot-right {
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
}

.add-category__spot-left::after,
.add-category__spot-right::after {
	display: block;
	position: absolute;
	content: "";
	width: 10px;
	height: 10px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	border: 6px solid #689418;
}

.add-category__spot-left::after {
	top: 8px;
	right: 5px;
	border-top-color: transparent;
	border-left-color: transparent;
	border-bottom-color: transparent;
}

.add-category__spot-right::after {
	top: 8px;
	left: 5px;
	border-top-color: transparent;
	border-right-color: transparent;
	border-bottom-color: transparent;
}

.add-category__spot-label {
	width: 30%;
	text-align: center;
	padding-top: 6px;
	font-weight: 500;
	border-right: 2px solid white;
	border-left: 2px solid white;
}

.menu-redact__add-category {
	width: 100%;
}

.add-category__form {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.admin-form p {
	display: block;
	margin: 0;
	text-align: center;
}

.input-choise {
	display: block;
	max-width: 135px;
	padding: 6px 26px;
	border: 1px solid #dfe1e5;
	border-radius: 20px;
	text-transform: uppercase;
	font-size: 10px;
	font-weight: 500;
	margin-bottom: 3px;
	cursor: pointer;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	margin: 0 auto;
}

.input-choise:hover {
	-webkit-box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
	        box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
	border-color: white;
}

.input-choise:active,
.add-category__spot-left:active,
.add-category__spot-right:active,
.add-subcategory__plus:active {
	-webkit-box-shadow: inset 0 1px 6px 0 rgba(32,33,36,0.28);
	        box-shadow: inset 0 1px 6px 0 rgba(32,33,36,0.28);
}

.add-category__foto {
	padding-bottom: 10px;
}

.add-category__foto-name {
	font-weight: 400;
}

.submit-button {
	margin: 10px 0;
	padding: 7px 26px;
}

.submit-status {
	font-weight: 600;
}

.admin-upload__subscribe {
	color: green;
	font-weight: 600;
}

.admin-upload__invalid, .sql-status {
	color: red;
	font-weight: 600;
}

.add-subcategory__title {
	font-weight: 400;
}

.add-subcategory__item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 150px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	margin-top: 10px;
}

.add-subcategory__item:nth-child(2) {
	margin-top: 0px;
}

.inactuvSection .add-subcategory__plus {
	display: none;
}

.inactuvSection .add-subcategory__input {
	width: 150px;
}

.add-subcategory__input {
	display: block;
	width: 80%;
	height: 28px;
	padding-left: 10px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	margin-right: 4px;
}

.add-subcategory__plus {
	position: relative;
	width: 28px;
	height: 28px;
	background: #f1f3f4;
	border-radius: 50%;
	cursor: pointer;
}

.add-subcategory__plus:hover {
	background: #e8eaed;
}

.add-subcategory__plus::before,
.add-subcategory__plus::after {
	display: block;
	position: absolute;
	content: "";
	top: 13px;
	left: 6px;
	width: 16px;
	height: 2px;
	border-radius: 2px;
	background: #689418;
}

.add-subcategory__plus::after {
	-webkit-transform: rotate(90deg);
	    -ms-transform: rotate(90deg);
	        transform: rotate(90deg);
}

.admin-section--active > .cart-redact__title {
    background: #f1f3f4;
}

.move-category__form {
    text-align: center;
}

.move-category__chose {
	width: 158px;
}

.cart-redact_list {
	list-style-type: none;
	padding: 0;
}

.add-cart__form {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.add-cart__name-wrapper,
.add-cart__prace-wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	max-width: 150px;
	margin: 0 auto;
	margin-bottom: 10px;
}

.add-cart__name {
	width: 63%;
	margin-right: 4px;
}

.add-cart__code {
	width: 37%;
}

.add-cart__new-price {
	width: 40%;
	margin-right: 4px;
}

.add-cart__sale-label {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	width: 33px;
	height: 28px;
	border-radius: 13px;
	margin-right: 4px;
	cursor: pointer;
}

.add-cart__old-price {
	opacity: 0;
	width: 40%;
}

.add-cart__manufactured,
.add-cart__material,
.add-cart__discription,
.add-cart__subscribe {
	width: 140px;
	margin-bottom: 10px;
}

.add-cart__discription:focus,
.add-cart__subscribe:focus {
	height: 80px;
}

.add-cart__sale--active,
.add-cart__sale--active:hover {
	background: #689418;
}

.add-cart__old-price--hidden {
	opacity: 1;
}

@media(min-width: 768px) {
	.admin-input {
		width: 200px;
		height: 32px;
	}

	.input-choise {
		padding: 8px 30px;
		font-size: 14px;
	}

	.submit-button {
		padding: 10px 26px;
	}

	.add-category__name-wrapper {
		width: 290px;
		-webkit-transform: translateX(40px);
		    -ms-transform: translateX(40px);
		        transform: translateX(40px);
	}

	.add-category__spot {
		width: 76px;
		height: 34px;
	}

	.add-category__spot-label {
		padding-top: 8px;
	}

	.add-category__spot-left::after,
	.add-category__spot-right::after {
		border: 9px solid #689418;
	}

	.add-category__spot-left::after {
		right: 7px;
		border-top-color: transparent;
		border-left-color: transparent;
		border-bottom-color: transparent;
	}

	.add-category__spot-right::after {
		left: 7px;
		border-top-color: transparent;
		border-right-color: transparent;
		border-bottom-color: transparent;
	}

	.add-subcategory__item {
		width: 248px;
		-webkit-transform: translateX(19px);
		    -ms-transform: translateX(19px);
		        transform: translateX(19px);
	}

	.add-subcategory__input {
		width: 210px;
		height: 34px;
	}

	.add-subcategory__plus {
		width: 34px;
		height: 34px;
	}

	.add-subcategory__plus::before,
	.add-subcategory__plus::after {
		top: 15px;
		left: 8px;
		width: 18px;
		height: 3px;
	}

	.inactuvSection .add-subcategory__input {
		width: 210px;
		-webkit-transform: translateX(-34px);
		    -ms-transform: translateX(-34px);
		        transform: translateX(-34px);
	}

	.add-cart__name-wrapper,
	.add-cart__prace-wrapper {
		max-width: 200px;
	}

	.add-cart__name {
		width: 62%;
	}

	.add-cart__code {
		width: 38%;
	}

	.add-cart__new-price {
		width: 40%;
	}

	.add-cart__sale-label {
		width: 39px;
		height: 34px;
		border-radius: 17px;
		padding-top: 8px;
		padding-left: 11px;
	}

	.add-cart__old-price {
		width: 40%;
	}

	.add-cart__discription:focus,
	.add-cart__subscribe:focus {
		height: 80px;
		width: 350px;
	}

}

.remove-category__form {
	text-align: center;
}

.chose-wrapper {
	display: block;
	width: 98px;
    margin: 0 auto;
    border: 1px solid #dfe1e5;
    border-radius: 20px;
    overflow: hidden;
}

.remove-category__chose:hover {
	-webkit-box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
	        box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
	border-color: white;
}

.chose__button {
	display: block;
	width: 100%;
    font-size: 10px;
    text-transform: uppercase;
    border: none;
    background: white;
    padding: 5px 0;
    cursor: pointer;
}

.admin-section--active > .chose__button {
    background: #f1f3f4;
}

.chose__label-wrapper {
}

.chose__label {
	display: block;
	text-align: center;
	width: 100%;
	padding: 5px 0;
	cursor: pointer;
}

.chose__label--checked {
	background: rgba(2, 2, 2, 0.1);
	color: #cc0202;
	font-weight: 600;
}

.admin-upload__subscribe--multiple {
	display: block;
	margin-top: 10px;
    text-align: center;
    color: green;
    font-weight: 600;
    cursor: pointer;
}

.admin-upload__subscribe--multiple:first-child {
	margin-top: 0;
}

.add-cart__foto {
	margin-bottom: 10px;
}

.admin-upload__subscribe--active {
	color: #cc0202;
}

.add-cart__chose-category:hover,
.add-cart__chose-subcategory:hover {
    -webkit-box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
            box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
    border-color: white;
}

.admin-form .add-cart__chose-subcategory-subscribe {
	margin-top: 10px;
}

.add-cart__chose-category-discript,
.add-cart__chose-subcategory-discript {
	color: green;
    font-weight: 600;
}

@media(min-width: 768px) {
	.chose-wrapper {
		width: 119px;
	}

	.chose__button {
		font-size: 14px;
		padding: 9px 0;
	}

	.chose__label {
		font-size: 18px;
		padding: 7px 0;
	}

	.add-cart__chose-category-button,
	.add-cart__chose-subcategory-button {
		padding: 9px 31px;
	    font-size: 14px;
	    font-weight: 500;
	    font-family: 'Montserrat', sans-serif;
	    -webkit-box-sizing: border-box;
	            box-sizing: border-box;
	}

	.add-cart__chose-category,
	.add-cart__chose-subcategory {
		width: auto;
	}
}







