@font-face {
    font-family: lcdnova;
    src: url(../fonts/a_lcdnova.ttf);
}

body {
	margin: 0;
	text-align: center;
	color: white;
	background-image: url(../images/fon.png);
	background-repeat: repeat;
}

.main-header {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	height: 50px;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-shadow: inset 0px 30px 30px 0px rgba(50, 50, 50, 0.75);
	        box-shadow: inset 0px 30px 30px 0px rgba(50, 50, 50, 0.75);
}

.header__link {
	margin: 0;
	color: white;
	display: inline-block;
	width: 33.3%;
	height: 100%;
	text-decoration: none;
	font-size: 22px;
	text-align: center;
	vertical-align: middle;
	padding-top: 10px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

@media(min-width: 460px) {
	.header__link {
		font-size: 26px;
	}
	
}

@media(min-width: 720px) {
	.header__link {
		
		font-size: 30px;
	}
	
}

@media(min-width: 1000px) {
	.header__link {
		width: 25%;
	}
	
}

@media(min-width: 1200px) {
	.header__link {
		width: 20%;
	}
	
}

.header__link:hover {
	color: red;
	border-color: red;
}

.header__link--active {
	border-bottom: 1px solid white;
	-webkit-box-shadow: inset 0px 30px 30px 0px rgba(50, 50, 50, 0.90);
	        box-shadow: inset 0px 30px 30px 0px rgba(50, 50, 50, 0.90);
}

.main-title {
	font-family: 'Times New Roman';
	margin-top: 20px;
	margin-bottom: 50px;
	font-size: 34px;
	text-transform: uppercase;
}

.time {
	font-family: lcdnova;
	font-weight: 500;
	font-size: 54px;
}

.time__item {
	display: inline-block;
	margin: 0;
	margin-bottom: 50px;
}

.noon {
	margin-left: 5px;
	font-family: sans-serif;
	font-size: 20px;
	text-transform: uppercase;
}

.date__item {
	margin: 0;
	margin-bottom: 0px;
	display: inline-block;
	font-size: 26px;
}

.date__number {
	margin-right: 6px;
}

.date__month {
	margin-right: 6px;
}

.date__day {
	margin-top: 10px;
	display: block;
}

@media(min-width: 460px) {
	.time {
		font-size: 80px;
	}

	.date__item {
		font-size: 36px;
	}

	.noon {
		margin-left: 10px;
		font-size: 28px;
	}
}

@media(min-width: 720px) {
	.main-title {
		margin: 50px 0;
		font-size: 40px;
	}

	.time {
		font-size: 124px;
	}

	.date__item {
		font-size: 44px;
	}

	.date__number {
		margin-right: 12px;
	}

	.date__month {
		margin-right: 12px;
	}

	.date__year {
		margin-right: 44px;
	}

	.noon {
		margin-left: 16px;
		font-size: 40px;
	}

	.date__day {
		margin-top: 10px;
		display: inline-block;
	}
}

@media(min-width: 1000px) {
	.time {
		font-size: 160px;
	}

	.date__item {
		font-size: 44px;
	}

	.noon {
		margin-left: 22px;
		font-size: 50px;
	}
}

.time__wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 280px;
	height: 280px;
	border: 3px solid white;
	border-radius: 50%;
	margin: 0 auto;
	margin-bottom: 20px;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.time__center {
	position: relative;
	width: 20px;
	height: 20px;
	background: white;
	border-radius: 50%;
}

.marks__title {
	position: absolute;
	top: calc(50% - 8px);
	left: 50%;
	-webkit-transform-origin: left;
	    -ms-transform-origin: left;
	        transform-origin: left;
}

.marks__hour {
	position: absolute;
	top: calc(50% - 4px);
	left: 50%;
	-webkit-transform-origin: left;
	    -ms-transform-origin: left;
	        transform-origin: left;
}

.marks__min {
	position: absolute;
	top: calc(50% - 2px);
	left: 50%;
	-webkit-transform-origin: left;
	    -ms-transform-origin: left;
	        transform-origin: left;
}

.title__point {
	position: relative;
	left: 120px;
	width: 12px;
	height: 12px;
	background: white;
	border-radius: 50%;
}

.hour__point {
	position: relative;
	left: 124px;
	width: 6px;
	height: 6px;
	background: white;
	border-radius: 50%;
}

.min__point {
	position: relative;
	left: 125px;
	width: 3px;
	height: 3px;
	background: white;
	border-radius: 50%;
}

.marks__title:nth-child(2) {
	-webkit-transform:rotate(90deg);
	    -ms-transform:rotate(90deg);
	        transform:rotate(90deg);
}

.marks__title:nth-child(3) {
	-webkit-transform:rotate(180deg);
	    -ms-transform:rotate(180deg);
	        transform:rotate(180deg);
}

.marks__title:nth-child(4) {
	-webkit-transform:rotate(270deg);
	    -ms-transform:rotate(270deg);
	        transform:rotate(270deg);
}

.marks__hour:nth-child(1) {
	-webkit-transform:rotate(30deg);
	    -ms-transform:rotate(30deg);
	        transform:rotate(30deg);
}

.marks__hour:nth-child(2) {
	-webkit-transform:rotate(60deg);
	    -ms-transform:rotate(60deg);
	        transform:rotate(60deg);
}

.marks__hour:nth-child(3) {
	-webkit-transform:rotate(120deg);
	    -ms-transform:rotate(120deg);
	        transform:rotate(120deg);
}

.marks__hour:nth-child(4) {
	-webkit-transform:rotate(150deg);
	    -ms-transform:rotate(150deg);
	        transform:rotate(150deg);
}

.marks__hour:nth-child(5) {
	-webkit-transform:rotate(210deg);
	    -ms-transform:rotate(210deg);
	        transform:rotate(210deg);
}

.marks__hour:nth-child(6) {
	-webkit-transform:rotate(240deg);
	    -ms-transform:rotate(240deg);
	        transform:rotate(240deg);
}

.marks__hour:nth-child(7) {
	-webkit-transform:rotate(300deg);
	    -ms-transform:rotate(300deg);
	        transform:rotate(300deg);
}

.marks__hour:nth-child(8) {
	-webkit-transform:rotate(330deg);
	    -ms-transform:rotate(330deg);
	        transform:rotate(330deg);
}

.marks__min:nth-child(1) {
	-webkit-transform:rotate(6deg);
	    -ms-transform:rotate(6deg);
	        transform:rotate(6deg);
}

.marks__min:nth-child(2) {
	-webkit-transform:rotate(12deg);
	    -ms-transform:rotate(12deg);
	        transform:rotate(12deg);
}

.marks__min:nth-child(3) {
	-webkit-transform:rotate(18deg);
	    -ms-transform:rotate(18deg);
	        transform:rotate(18deg);
}

.marks__min:nth-child(4) {
	-webkit-transform:rotate(24deg);
	    -ms-transform:rotate(24deg);
	        transform:rotate(24deg);
}

.marks__min:nth-child(5) {
	-webkit-transform:rotate(36deg);
	    -ms-transform:rotate(36deg);
	        transform:rotate(36deg);
}

.marks__min:nth-child(6) {
	-webkit-transform:rotate(42deg);
	    -ms-transform:rotate(42deg);
	        transform:rotate(42deg);
}

.marks__min:nth-child(7) {
	-webkit-transform:rotate(48deg);
	    -ms-transform:rotate(48deg);
	        transform:rotate(48deg);
}

.marks__min:nth-child(8) {
	-webkit-transform:rotate(54deg);
	    -ms-transform:rotate(54deg);
	        transform:rotate(54deg);
}

.marks__min:nth-child(9) {
	-webkit-transform:rotate(66deg);
	    -ms-transform:rotate(66deg);
	        transform:rotate(66deg);
}

.marks__min:nth-child(10) {
	-webkit-transform:rotate(72deg);
	    -ms-transform:rotate(72deg);
	        transform:rotate(72deg);
}

.marks__min:nth-child(11) {
	-webkit-transform:rotate(78deg);
	    -ms-transform:rotate(78deg);
	        transform:rotate(78deg);
}

.marks__min:nth-child(12) {
	-webkit-transform:rotate(84deg);
	    -ms-transform:rotate(84deg);
	        transform:rotate(84deg);
}

.marks__min:nth-child(13) {
	-webkit-transform:rotate(96deg);
	    -ms-transform:rotate(96deg);
	        transform:rotate(96deg);
}

.marks__min:nth-child(14) {
	-webkit-transform:rotate(102deg);
	    -ms-transform:rotate(102deg);
	        transform:rotate(102deg);
}

.marks__min:nth-child(15) {
	-webkit-transform:rotate(108deg);
	    -ms-transform:rotate(108deg);
	        transform:rotate(108deg);
}

.marks__min:nth-child(16) {
	-webkit-transform:rotate(114deg);
	    -ms-transform:rotate(114deg);
	        transform:rotate(114deg);
}

.marks__min:nth-child(17) {
	-webkit-transform:rotate(126deg);
	    -ms-transform:rotate(126deg);
	        transform:rotate(126deg);
}

.marks__min:nth-child(18) {
	-webkit-transform:rotate(132deg);
	    -ms-transform:rotate(132deg);
	        transform:rotate(132deg);
}

.marks__min:nth-child(19) {
	-webkit-transform:rotate(138deg);
	    -ms-transform:rotate(138deg);
	        transform:rotate(138deg);
}

.marks__min:nth-child(20) {
	-webkit-transform:rotate(144deg);
	    -ms-transform:rotate(144deg);
	        transform:rotate(144deg);
}

.marks__min:nth-child(21) {
	-webkit-transform:rotate(156deg);
	    -ms-transform:rotate(156deg);
	        transform:rotate(156deg);
}

.marks__min:nth-child(22) {
	-webkit-transform:rotate(162deg);
	    -ms-transform:rotate(162deg);
	        transform:rotate(162deg);
}

.marks__min:nth-child(23) {
	-webkit-transform:rotate(168deg);
	    -ms-transform:rotate(168deg);
	        transform:rotate(168deg);
}

.marks__min:nth-child(24) {
	-webkit-transform:rotate(174deg);
	    -ms-transform:rotate(174deg);
	        transform:rotate(174deg);
}

.marks__min:nth-child(25) {
	-webkit-transform:rotate(186deg);
	    -ms-transform:rotate(186deg);
	        transform:rotate(186deg);
}

.marks__min:nth-child(26) {
	-webkit-transform:rotate(192deg);
	    -ms-transform:rotate(192deg);
	        transform:rotate(192deg);
}

.marks__min:nth-child(27) {
	-webkit-transform:rotate(198deg);
	    -ms-transform:rotate(198deg);
	        transform:rotate(198deg);
}

.marks__min:nth-child(28) {
	-webkit-transform:rotate(204deg);
	    -ms-transform:rotate(204deg);
	        transform:rotate(204deg);
}

.marks__min:nth-child(29) {
	-webkit-transform:rotate(216deg);
	    -ms-transform:rotate(216deg);
	        transform:rotate(216deg);
}

.marks__min:nth-child(30) {
	-webkit-transform:rotate(222deg);
	    -ms-transform:rotate(222deg);
	        transform:rotate(222deg);
}

.marks__min:nth-child(31) {
	-webkit-transform:rotate(228deg);
	    -ms-transform:rotate(228deg);
	        transform:rotate(228deg);
}

.marks__min:nth-child(32) {
	-webkit-transform:rotate(234deg);
	    -ms-transform:rotate(234deg);
	        transform:rotate(234deg);
}

.marks__min:nth-child(33) {
	-webkit-transform:rotate(246deg);
	    -ms-transform:rotate(246deg);
	        transform:rotate(246deg);
}

.marks__min:nth-child(34) {
	-webkit-transform:rotate(252deg);
	    -ms-transform:rotate(252deg);
	        transform:rotate(252deg);
}

.marks__min:nth-child(35) {
	-webkit-transform:rotate(258deg);
	    -ms-transform:rotate(258deg);
	        transform:rotate(258deg);
}

.marks__min:nth-child(36) {
	-webkit-transform:rotate(264deg);
	    -ms-transform:rotate(264deg);
	        transform:rotate(264deg);
}

.marks__min:nth-child(37) {
	-webkit-transform:rotate(276deg);
	    -ms-transform:rotate(276deg);
	        transform:rotate(276deg);
}

.marks__min:nth-child(38) {
	-webkit-transform:rotate(282deg);
	    -ms-transform:rotate(282deg);
	        transform:rotate(282deg);
}

.marks__min:nth-child(39) {
	-webkit-transform:rotate(288deg);
	    -ms-transform:rotate(288deg);
	        transform:rotate(288deg);
}

.marks__min:nth-child(40) {
	-webkit-transform:rotate(294deg);
	    -ms-transform:rotate(294deg);
	        transform:rotate(294deg);
}

.marks__min:nth-child(41) {
	-webkit-transform:rotate(306deg);
	    -ms-transform:rotate(306deg);
	        transform:rotate(306deg);
}

.marks__min:nth-child(42) {
	-webkit-transform:rotate(312deg);
	    -ms-transform:rotate(312deg);
	        transform:rotate(312deg);
}

.marks__min:nth-child(43) {
	-webkit-transform:rotate(318deg);
	    -ms-transform:rotate(318deg);
	        transform:rotate(318deg);
}

.marks__min:nth-child(44) {
	-webkit-transform:rotate(324deg);
	    -ms-transform:rotate(324deg);
	        transform:rotate(324deg);
}

.marks__min:nth-child(45) {
	-webkit-transform:rotate(336deg);
	    -ms-transform:rotate(336deg);
	        transform:rotate(336deg);
}

.marks__min:nth-child(46) {
	-webkit-transform:rotate(342deg);
	    -ms-transform:rotate(342deg);
	        transform:rotate(342deg);
}

.marks__min:nth-child(47) {
	-webkit-transform:rotate(348deg);
	    -ms-transform:rotate(348deg);
	        transform:rotate(348deg);
}

.marks__min:nth-child(48) {
	-webkit-transform:rotate(354deg);
	    -ms-transform:rotate(354deg);
	        transform:rotate(354deg);
}

.arrow	{
	position: absolute;
	bottom: 50%;
	right: 0;
	background: white;
}

.time__hour-arrow {
	width: 8px;
	height: 80px;
	right: calc(50% - 4px);
	-webkit-transform-origin: bottom;
	    -ms-transform-origin: bottom;
	        transform-origin: bottom;
}

.time__min-arrow {
	width: 4px;
	height: 100px;
	right: calc(50% - 2px);
	-webkit-transform-origin: bottom;
	    -ms-transform-origin: bottom;
	        transform-origin: bottom;
}

.time__sec-arrow {
	width: 2px;
	height: 116px;
	right: calc(50% - 1px);
	-webkit-transform-origin: bottom;
	    -ms-transform-origin: bottom;
	        transform-origin: bottom;
}

.sec-arrow__color-container {
	position: relative;
	background: red;
	width: 2px;
	height: 106px;
}

.main-title--analog {
	margin-bottom: 20px;
}

@media(min-width: 460px) {
	.time__wrapper {
		width: 360px;
		height: 360px;
	}

	.title__point {
		left: 156px;
		width: 16px;
		height: 16px;
	}

	.hour__point {
		left: 160px;
		width: 8px;
		height: 8px;
	}

	.min__point {
		left: 162px;
		width: 4px;
		height: 4px;
	}

	.time__hour-arrow {
		height: 90px;
	}

	.time__min-arrow {
		width: 6px;
		height: 120px;
	}

	.time__sec-arrow {
		height: 140px;
	}

	.sec-arrow__color-container {
		height: 130px;
	}
}

.settings-block {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.city-buttons,
.settings-control {
	width: 100%;
	padding-top: 80px;
}

@media(min-width: 720px) {
	.settings-block {
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		    -ms-flex-direction: row;
		        flex-direction: row;
	    -webkit-box-pack: center;
	        -ms-flex-pack: center;
	            justify-content: center;
	    -webkit-box-align: center;
	        -ms-flex-align: center;
	            align-items: center;
	}

	.city-buttons,
	.settings-control {
		width: 50%;
	}
}

.settings-control {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.button-wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	margin-bottom: 20px;
}

.button__shadow {
	border-radius: 30px;
	-webkit-box-shadow: 0px 18px 13px 0px rgba(50, 50, 50, 0.5);
	        box-shadow: 0px 18px 13px 0px rgba(50, 50, 50, 0.5);
  	width: 240px;
 	height: 60px;
}

.button__shadow:active {
	-webkit-box-shadow: none;
	        box-shadow: none;
}

.button {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	background: -webkit-gradient(linear, left top, left bottom, from(#484f56), to(#2e343b));
	background: -webkit-linear-gradient(#484f56, #2e343b);
	background: -o-linear-gradient(#484f56, #2e343b);
	background: linear-gradient(#484f56, #2e343b);
	-webkit-box-shadow: inset 0px 1px 1px 0px rgba(200, 200, 200, 0.3),
					  0px 3px 2px 0px rgba(50, 50, 50, 1);
	        box-shadow: inset 0px 1px 1px 0px rgba(200, 200, 200, 0.3),
					  0px 3px 2px 0px rgba(50, 50, 50, 1);
	border: 0.5px solid #282b2e;
	border-radius: 30px;
	width: 100%;
	height: 100%;
	padding: 0;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	font-family: 'Arial';
	cursor: pointer;
	color: white;
	font-size: 20px;
	text-transform: uppercase;
	text-decoration: none;
}

.button::-webkit-input-placeholder {
	color: transparent;
	border: none;
}

.button:-ms-input-placeholder {
	color: transparent;
	border: none;
}

.button::-ms-input-placeholder {
	color: transparent;
	border: none;
}

.button::placeholder {
	color: transparent;
	border: none;
}

.button:hover {
	background: -webkit-gradient(linear, left top, left bottom, from(#535a60), to(#30373e));
	background: -webkit-linear-gradient(#535a60, #30373e);
	background: -o-linear-gradient(#535a60, #30373e);
	background: linear-gradient(#535a60, #30373e);
}

.button:active {
	background: -webkit-gradient(linear, left top, left bottom, from(#30363e), to(#3c4349));
	background: -webkit-linear-gradient(#30363e, #3c4349);
	background: -o-linear-gradient(#30363e, #3c4349);
	background: linear-gradient(#30363e, #3c4349);
	-webkit-box-shadow: inset 0px 12px 8px 0px rgba(50, 50, 50, 0.75),
				0px 1px 1px 0px rgba(200, 200, 200, 0.75);
	        box-shadow: inset 0px 12px 8px 0px rgba(50, 50, 50, 0.75),
				0px 1px 1px 0px rgba(200, 200, 200, 0.75);
	color: red;
}

.button-active {
	-webkit-box-shadow: none;
	        box-shadow: none;
}

.button-active .button {
	background: -webkit-gradient(linear, left top, left bottom, from(#30363e), to(#3c4349));
	background: -webkit-linear-gradient(#30363e, #3c4349);
	background: -o-linear-gradient(#30363e, #3c4349);
	background: linear-gradient(#30363e, #3c4349);
	-webkit-box-shadow: inset 0px 12px 8px 0px rgba(50, 50, 50, 0.75),
				0px 1px 1px 0px rgba(200, 200, 200, 0.75);
	        box-shadow: inset 0px 12px 8px 0px rgba(50, 50, 50, 0.75),
				0px 1px 1px 0px rgba(200, 200, 200, 0.75);
	color: red;
}

.del-button__shadow {
	border-radius: 30px;
	margin-left: 10px;
	-webkit-box-shadow: 0px 18px 13px 0px rgba(50, 50, 50, 0.5);
	        box-shadow: 0px 18px 13px 0px rgba(50, 50, 50, 0.5);
  	width: 60px;
 	height: 60px;
}

.del-button {
	position: relative;
}

.del-button__shadow:active {
	-webkit-box-shadow: none;
	        box-shadow: none;
}

.del-button__simbol {
	position: absolute;
	left: 25%;
	top: calc(50% - 2px);
	display: block;
	background: white;
	width: 30px;
	height: 4px;
	border-radius: 2px;
}

.del-button__simbol:nth-child(1) {
	-webkit-transform: rotate(45deg);
	    -ms-transform: rotate(45deg);
	        transform: rotate(45deg);
}

.del-button__simbol:nth-child(2) {
	-webkit-transform: rotate(-45deg);
	    -ms-transform: rotate(-45deg);
	        transform: rotate(-45deg);
}

.del-button:active .del-button__simbol {
	background: red;
}

.format-control {
	position: relative;
	background: white;
	width: 100px;
 	height: 60px;
 	border-radius: 30px;
 	margin: 50px 0;
 	cursor: pointer;
 	-webkit-box-shadow:inset 0px 10px 8px 0px rgba(50, 50, 50, 0.75),
 					 0px 1px 1px 0px rgba(200, 200, 200, 0.75);
 	        box-shadow:inset 0px 10px 8px 0px rgba(50, 50, 50, 0.75),
 					 0px 1px 1px 0px rgba(200, 200, 200, 0.75);
}

.format-control__button {
	position: absolute;
	width: 60px;
}

.format-control__spec {
	display: block;
	position: absolute;
	font-size: 28px;
	top: 14px;
}

.format-control__spec:nth-child(1) {
	left: -40px;
}

.format-control__spec:nth-child(2) {
	right: -40px;
}

.spec--active {
	color: red;
}

.format-control:hover .format-control__button {
	background: -webkit-gradient(linear, left top, left bottom, from(#535a60), to(#30373e));
	background: -webkit-linear-gradient(#535a60, #30373e);
	background: -o-linear-gradient(#535a60, #30373e);
	background: linear-gradient(#535a60, #30373e);
}

.format-control__button:active {
	-webkit-box-shadow: inset 0px 1px 1px 0px rgba(200, 200, 200, 0.3),
					  0px 3px 2px 0px rgba(50, 50, 50, 1);
	        box-shadow: inset 0px 1px 1px 0px rgba(200, 200, 200, 0.3),
					  0px 3px 2px 0px rgba(50, 50, 50, 1);
}

.add-city__input {
	display: block;
	width: 100%;
	height: 100%;
	padding-left: 20px;
	font-size: 20px;
	border: none;
	border-radius: 30px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	outline: none;
}

.popup__field {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	position: relative;
	width: 240px;
	height: 60px;
	background: #ebebeb;
	color: black;
	border-bottom: 1px solid rgba(33,33,33, 0.3);
	font-size: 24px;
	font-weight: 500;
	z-index: 1;
	cursor: pointer;
}

.popup__field:hover {
	background: #cdcdcd;
}

.popup__field:first-child {
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.popup__field:last-child {
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.add-city__input {
	-webkit-box-shadow: inset 0px 10px 8px 0px rgba(50, 50, 50, 0.75), 0px 1px 1px 0px rgba(200, 200, 200, 0.75);
	        box-shadow: inset 0px 10px 8px 0px rgba(50, 50, 50, 0.75), 0px 1px 1px 0px rgba(200, 200, 200, 0.75);
}

.about {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}

.about__button {
	margin-top: 70px;
}

.about__discription {
	display: block;
	margin-top: 70px;
	width: 80%;
	font-size: 30px;
	text-transform: none;
	text-align: left;
}